* {
  margin: 0;
  padding: 0;
}
.main-container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(20, 109, 57);
  display: flex;
}
.image-container {
  width: 40%;
  background-color: black;
  position: relative;
}
.img-logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.img-logo {
  width: 65%;
}
.img-photo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.img-photo {
  width: 35rem;
  height: 50rem;
}
/* light and dark button */
input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

label {
  display: block;
  width: 500px;
  height: 150px;
  background-color: #477a85;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 20px #477a8550;
}

label::after {
  content: "";
  width: 120px;
  height: 120px;
  background-color: #e8f5f7;
  position: absolute;
  border-radius: 70px;
  top: 15px;
  left: 15px;
  transition: 0.5s;
}
input:checked + label:after {
  left: calc(100% - 10px);
  transform: translateX(-100%);
}

input:checked + label {
  background-color: #243d42;
}
label:active:after {
  width: 160px;
}
